USE [QLBongDa]
GO
/****** Object:  Table [dbo].[BANGXH]    Script Date: 4/17/2023 3:52:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGXH](
	[MACLB] [varchar](5) NOT NULL,
	[NAM] [int] NOT NULL,
	[VONG] [int] NOT NULL,
	[SOTRAN] [int] NOT NULL,
	[THANG] [varchar](5) NOT NULL,
	[HOA] [varchar](5) NOT NULL,
	[THUA] [varchar](5) NOT NULL,
	[HIEUSO] [varchar](5) NOT NULL,
	[DIEM] [int] NOT NULL,
	[HANG] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MACLB] ASC,
	[NAM] ASC,
	[VONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAULACBO]    Script Date: 4/17/2023 3:52:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAULACBO](
	[MACLB] [varchar](5) NOT NULL,
	[TENCLB] [nvarchar](100) NOT NULL,
	[MASAN] [varchar](5) NOT NULL,
	[MATINH] [varchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MACLB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAUTHU]    Script Date: 4/17/2023 3:52:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAUTHU](
	[MACT] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](100) NOT NULL,
	[VITRI] [nvarchar](20) NOT NULL,
	[NGAYSINH] [datetime] NOT NULL,
	[DIACHI] [nvarchar](200) NOT NULL,
	[MACLB] [varchar](5) NOT NULL,
	[MAQG] [varchar](5) NOT NULL,
	[SO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MACT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HLV_CLB]    Script Date: 4/17/2023 3:52:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HLV_CLB](
	[MAHLV] [varchar](5) NOT NULL,
	[MACLB] [varchar](5) NOT NULL,
	[VAITRO] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHLV] ASC,
	[MACLB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HUANLUYENVIEN]    Script Date: 4/17/2023 3:52:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HUANLUYENVIEN](
	[MAHLV] [varchar](5) NOT NULL,
	[TENHLV] [varchar](5) NOT NULL,
	[NGAYSINH] [nvarchar](100) NOT NULL,
	[DIACHI] [datetime] NOT NULL,
	[DIENTHOAI] [nvarchar](20) NOT NULL,
	[MAQG] [varchar](5) NOT NULL,
 CONSTRAINT [PK__HUANLUYE__78C539A154BC5226] PRIMARY KEY CLUSTERED 
(
	[MAHLV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUOCGIA]    Script Date: 4/17/2023 3:52:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUOCGIA](
	[MAQG] [varchar](5) NOT NULL,
	[TENQG] [nvarchar](60) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAQG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANVD]    Script Date: 4/17/2023 3:52:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANVD](
	[MASAN] [varchar](5) NOT NULL,
	[TENSAN] [nvarchar](100) NOT NULL,
	[DIACHI] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MASAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TINH]    Script Date: 4/17/2023 3:52:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINH](
	[MATINH] [varchar](5) NOT NULL,
	[TENTINH] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MATINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANDAU]    Script Date: 4/17/2023 3:52:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANDAU](
	[MATRAN] [varchar](5) NOT NULL,
	[NAM] [int] NOT NULL,
	[VONG] [int] NOT NULL,
	[NGAYTD] [datetime] NOT NULL,
	[MACLB1] [varchar](5) NOT NULL,
	[MACLB2] [varchar](5) NOT NULL,
	[MASAN] [varchar](5) NOT NULL,
	[KETQUA] [varchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MATRAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BANGXH]  WITH CHECK ADD  CONSTRAINT [FK_BANGXH_CAULACBO] FOREIGN KEY([MACLB])
REFERENCES [dbo].[CAULACBO] ([MACLB])
GO
ALTER TABLE [dbo].[BANGXH] CHECK CONSTRAINT [FK_BANGXH_CAULACBO]
GO
ALTER TABLE [dbo].[CAULACBO]  WITH CHECK ADD  CONSTRAINT [FK_CAULACBO_SANVD] FOREIGN KEY([MASAN])
REFERENCES [dbo].[SANVD] ([MASAN])
GO
ALTER TABLE [dbo].[CAULACBO] CHECK CONSTRAINT [FK_CAULACBO_SANVD]
GO
ALTER TABLE [dbo].[CAULACBO]  WITH CHECK ADD  CONSTRAINT [FK_CAULACBO_TINH1] FOREIGN KEY([MATINH])
REFERENCES [dbo].[TINH] ([MATINH])
GO
ALTER TABLE [dbo].[CAULACBO] CHECK CONSTRAINT [FK_CAULACBO_TINH1]
GO
ALTER TABLE [dbo].[CAUTHU]  WITH CHECK ADD  CONSTRAINT [FK_CAUTHU_CAULACBO] FOREIGN KEY([MACLB])
REFERENCES [dbo].[CAULACBO] ([MACLB])
GO
ALTER TABLE [dbo].[CAUTHU] CHECK CONSTRAINT [FK_CAUTHU_CAULACBO]
GO
ALTER TABLE [dbo].[CAUTHU]  WITH CHECK ADD  CONSTRAINT [FK_CAUTHU_QUOCGIA] FOREIGN KEY([MAQG])
REFERENCES [dbo].[QUOCGIA] ([MAQG])
GO
ALTER TABLE [dbo].[CAUTHU] CHECK CONSTRAINT [FK_CAUTHU_QUOCGIA]
GO
ALTER TABLE [dbo].[HLV_CLB]  WITH CHECK ADD  CONSTRAINT [FK_HLV_CLB_CAULACBO] FOREIGN KEY([MACLB])
REFERENCES [dbo].[CAULACBO] ([MACLB])
GO
ALTER TABLE [dbo].[HLV_CLB] CHECK CONSTRAINT [FK_HLV_CLB_CAULACBO]
GO
ALTER TABLE [dbo].[HLV_CLB]  WITH CHECK ADD  CONSTRAINT [FK_HLV_CLB_HUANLUYENVIEN] FOREIGN KEY([MAHLV])
REFERENCES [dbo].[HUANLUYENVIEN] ([MAHLV])
GO
ALTER TABLE [dbo].[HLV_CLB] CHECK CONSTRAINT [FK_HLV_CLB_HUANLUYENVIEN]
GO
ALTER TABLE [dbo].[HUANLUYENVIEN]  WITH CHECK ADD  CONSTRAINT [FK_HUANLUYENVIEN_QUOCGIA] FOREIGN KEY([MAQG])
REFERENCES [dbo].[QUOCGIA] ([MAQG])
GO
ALTER TABLE [dbo].[HUANLUYENVIEN] CHECK CONSTRAINT [FK_HUANLUYENVIEN_QUOCGIA]
GO
ALTER TABLE [dbo].[TRANDAU]  WITH CHECK ADD  CONSTRAINT [FK_TRANDAU_CAULACBO] FOREIGN KEY([MACLB1])
REFERENCES [dbo].[CAULACBO] ([MACLB])
GO
ALTER TABLE [dbo].[TRANDAU] CHECK CONSTRAINT [FK_TRANDAU_CAULACBO]
GO
ALTER TABLE [dbo].[TRANDAU]  WITH CHECK ADD  CONSTRAINT [FK_TRANDAU_CAULACBO2] FOREIGN KEY([MASAN])
REFERENCES [dbo].[CAULACBO] ([MACLB])
GO
ALTER TABLE [dbo].[TRANDAU] CHECK CONSTRAINT [FK_TRANDAU_CAULACBO2]
GO
ALTER TABLE [dbo].[TRANDAU]  WITH CHECK ADD  CONSTRAINT [FK_TRANDAU_SANVD] FOREIGN KEY([MASAN])
REFERENCES [dbo].[SANVD] ([MASAN])
GO
ALTER TABLE [dbo].[TRANDAU] CHECK CONSTRAINT [FK_TRANDAU_SANVD]
GO
